@font-face {
    font-family: "TT Lakes Regular";
    src: url(./fonts/TTLakes-Regular.woff) format('woff');
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    width: 100vw;
    height: 80px;
    font-family: 'TT Lakes Regular';
    color: #7E7E82;
    font-size: 16px;
    font-weight: 100;
    padding-left: 16px;
    padding-top: 16px;
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
}

.swiper-button {
    outline: none;
    background-color: transparent;

    width: 220px;
    height: 72px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    margin-top: 16px;
    margin-left: 16px;
    // min-width: 0;
}

.swiper-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 36px;
}

.swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
    margin-left: 6px !important;
    background-color: #8b8b8b !important;
}

.swiper-pagination-bullet-active {
    background-color: #B5B6BC !important;
}

.divider-0f-opacity {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 90px;
    width: 24px;
    height: 81px;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    // background-color: red;
}

.button-more-info {
    border: none;
    outline: none;
    background-color: transparent;

    position: absolute;
    left: 10px;
    top: 300px;

    display: flex;
    gap: 16px;
    margin-left: 16px;
    font-family: inherit;

    font-weight: 500;
}

.button-more-info {
    display: none;

    &img {
        align-self: center;

    }
}


@media screen and (min-width: 768px) and (max-width: 1119px) {

    .divider-0f-opacity {
        display: none;
    }

    .swiper-slide {
        width: auto !important;
    }

    .swiper-wrapper {
        flex-wrap: wrap;
    }


    .swiper {
        overflow: visible !important;
        width: 100vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100px !important;
        // overflow: hidden !important;
    }

    .swiper:nth-child(2) {
        // background-color: red;
    }

    .last-elems-slides {
        display: none;
    }

    .button-more-info {
        display: flex;
    }
}